.todo-content li {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.todo-content p {
  margin-bottom: 0 !important;
  padding-left: 10px;
}
/* checked */
.checked {
  text-decoration: line-through;
}

.todo-icon {
  padding: 10px;
}
.todo-icon:hover {
  cursor: pointer;
}